:root {
    --color-purple: #343a8b;

    --background-color-light:#ffffff;
    --background-color-dark:#15151a;

    --font-color-light:#295d80;
    --font-color-dark:#f7f7f7;
}

/*Light/Dark Mode Button*/

.darkMode-button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
    
    margin: 1rem auto 3rem 1rem;
}

.darkMode-button p {
    margin-left: 1rem;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
    background-color: rgb(61, 61, 61);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 20px;
	width: 40px;
	transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 16px;
	width: 16px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(20px);
}

body {
    background: var(--background-color-light);
    color: var(--font-color-light);
    border-color: var(--font-color-light);
    transition: .2s;
}

body.dark {
    background: var(--background-color-dark);
    color: var(--font-color-dark);
    border-color: var(--font-color-dark);
    transition: .2s;
}

body.dark .icons-links a img {
    filter: invert(99%) sepia(96%) saturate(16%) hue-rotate(218deg) brightness(104%) contrast(100%);

}

/*Light/Dark Mode Button*/

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.main-content {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 2rem auto; 
}

.user-image {
    width: 210px;
    height: 210px;

    color:var(--font-color-light);
    border: 4px solid;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top:.5rem;
}

.user-image i img{
    display: flex;
    border-radius: 50%;
    max-width: 190px;
    max-height: 190px;
}

.user-name {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:.5rem;
}


body.dark .user-name {
    color:var(--font-color-dark);
}

.icons-links {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
    height: 7rem;
    padding: 1rem;
}

.icons-links img {
    width: 2.5rem;
    height: 2.5rem;
    transition: .3s;
}

.icons-links img:hover {
    transform: scale(1.05)
}

.icons-links img:active {
    transform: scale(0.9)
}
.links {
    width:25rem;
    height: 17rem;
}
.link-sqr {
    display: flex;
    width: 20rem;
    height: 3.5rem;

    border: 4px solid;

    border-color: var(--font-color-light);
    border-radius: 0.5rem;
    padding: .5rem;
    margin: 1rem auto;
    transition: .3s
}

body.dark .link-sqr, body.dark .user-image {
    border-color: var(--font-color-dark);
}

.link-sqr {
    width:100%;
    
    display:flex; 
    justify-content:center;
    align-items: center;
    text-align: center; 

    color: var(--color-font);
    font-size: 1.2rem;

    cursor: pointer;}

.link-sqr:hover {
    transform:scale(1.01);
    
    background: #d7d9ec;
}

.link-sqr:active {
    transform:scale(.9);
}

body.dark .link-sqr:hover {
    background: #c8ccff63;
}

@media (max-width: 420px) {

    .user-image {
        width: 200px;
        height: 200px;
        
    }

    .user-image i img{
        width: 180px;
        height: 180px
    }

    .icons-links {
        margin-top:1rem;      
    }

    .link-sqr {
        width: 19rem;
        height: 3rem;
        font-size: 1.2rem;
    }
    
}

@media (max-width: 510px) {
    .main-content {
        margin: 1rem auto 2rem auto
    }
}


@media (min-width:690px) {
    .user-image {
        width: 240px;
        height: 240px; 
    }
    .user-image i img{
        max-width: 210px;
        max-height: 210px
    }

    .links {
        width:45rem;
        height: 100%; 
    }

    .link-sqr {
        width: 23rem;
        height: 5rem;
        font-size: 1.5rem;
    }
}

@media (min-width:1024px) {
    .user-image {
        width: 250px;
        height: 250px; 
    }
    .user-image i img{
        max-width: 220px;
        max-height: 220px
    }

    .links {
        width:45rem;
        height: 100%; 
    }

    .link-sqr {
        width: 25rem;
        height: 5rem;
        font-size: 1.4rem;
       }

    .icons-links img {
        width:3rem;
        height: 3rem;
        transition: .3s;
    }
}

@media (min-width:1940px) {
    .user-image {
        width: 270px;
        height: 270px; 
    }
    .user-image i img{
        max-width: 240px;
        max-height: 240px
    }

    .links {
        width:47rem;
        height: 100%; 
    }

    .link-sqr {
        width: 28rem;
        height: 5rem;
        font-size: 1.4rem;
       }

       .icons-links img {
        width: 4rem;
        height: 4rem;
        transition: .3s;
    }

    .user-name {
        font-size: 1.4rem;
    }
}