:root {
    --color-purple: #343a8b;
    --color-font: #15194e;
}

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.main-content {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 10rem auto 2rem auto
}


.user-image {
    width: 210px;
    height: 210px;
    border: 3px solid;
    border-color: var(--color-purple);
    border-radius: 50%;

}
.user-image i img{
    display: flex;
    border-radius: 50%;
    max-width: 190px;
    max-height: 190px;
    margin-top: .8rem;
    margin-left: .45rem;
    background: transparent;
}

.user-name {
    text-align: center; margin-top:.5rem; color:var(--color-font);
}

.icons-links {
    display:flex;
    justify-content: center;
    margin-top:2rem;
    width: 25rem;
    height: 5rem;
    overflow-x: hidden;
    
}
.icons-links a {
    width: 25rem;
    height: 5rem;
}

.icons-links img {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;

    transition: .3s;
}

.icons-links img:hover {
    transform: scale(0.9)
    
}
.links {
    width:25rem;
    height: 17rem;
}
.link-sqr {
    display: flex;
    width: 18rem;
    height: 3.1rem;
    border: 2px solid;
    border-color: var(--color-purple);
    border-radius: 0.2rem;
    margin: 1rem auto;
    transition: .3s
}

.link-sqr a {width:100%; color: var(--color-font); display:flex; justify-content:center;align-items: center;text-align: center; padding: .8rem; font-size: 1.2rem;}

.link-sqr:hover {
    transform:scale(1.01);
    background: #d7d9ec;

}

@media (max-width: 510px) {
    .main-content {
        margin: 1rem auto 2rem auto
    }
}

@media (min-width:1024px) {
    .user-image {
        width: 250px;
        height: 250px; 
    }
    .user-image i img{
        max-width: 230px;
        max-height: 230px
    }

    .links {
        width:45rem;
        height: 100%; 
    }

    .link-sqr {
        width: 25rem;
        height: 5rem
       }
    
       .link-sqr a {
           font-size: 1.6rem;
       }
}